@import '../../vars.css';

.container {
  margin: 100px auto;
  max-width: 1000px; 
  color: #1d1d1f;
  text-align: center; 
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 60px;
  color: rgb(122, 29, 29);
}

.project_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  column-gap: 8px;
  justify-items: center; 
  max-width: 800px; 
  margin: 0 auto; 
}

.projectCard {
  width: 100%; 
  max-width: 380px; 
}

@media screen and (max-width: 768px) {
  .project_container {
    grid-template-columns: 1fr;
    max-width: 400px;
  }

  .projectCard {
    max-width: 100%;
  }
}
