@import '../../vars.css';

.container {
    margin-top: 100px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.project_container {
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2em;
    font-weight: 700;
    color: #370569;
    text-align: center;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.links {
    flex-wrap: wrap;
}
