.memoji_container {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    justify-content: center;
}

.memoji {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Hero {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

@keyframes pulseGlow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}

.glow {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.05) 80%,
    transparent 100%
  );
  border-radius: 50%;
  filter: blur(60px);
  pointer-events: none;
  z-index: 0;
  animation: pulseGlow 6s ease-in-out infinite;
}


.content {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.content > h1 {
    padding-top: 5%;
    font-weight: bold;
    font-size: 23px;
    font-weight: 600;
}

.HandImage > img {
    width: 5%;
}

.title {
    font-size: medium;
    font-weight: 300;
    font-size: 2em;
}

h3 {
    padding: 10px;
    color: rgb(122, 29, 29);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.email_button {
    display: inline;
    text-align: justify;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    font-size: 17px;
}

.email_button::after {
    content: '';
    background-color: #6de6ec;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.3s;
    
}

.email_button > a {
    text-decoration: none;
    border-radius: 90px;
    padding: 1em;
    color:black;
     background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.05);
     backdrop-filter: blur(20px); 
     transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.email_button a:hover {
    color: rgb(122, 29, 29);
    background-color: white;
}

.cv_button {
    display: inline;
    margin-left: 20px;
    text-align: justify;
    padding-top: 2px;
    margin-top: 20px;
    font-size: 17px;
}

.cv_button > a {
    text-decoration: none;
    text-align: center;
    border-radius: 90px;
    padding: 1em;
     color:black;
     background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.cv_button a:hover {
   color: rgb(122, 29, 29);
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0);
}

.experience {
    font-size: 15px;
    font-weight: 400;
    padding-top: 150px;
}

.ExperienceImage > img {
    margin-top: 20px;
    width: 30%;
}
