.footerContainer {
    display: flex;
    justify-content: center;
    background-color: rgba(170, 86, 114, 0.06);
    padding-bottom: 10%;
}

.innerHeightRestrictedContainer {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.textContainer {
    color: rgb(122, 29, 29);
    font-size: 12px;
   
}

.textContainer > h1 {
    font-weight: 350;
    font-size: 2em;
    color: rgb(122, 29, 29);
    line-height: 100px;
    text-align: center;
}

.textContainer > h2 {
    font-weight: 350;
    font-size: 1.5em;
    margin: auto;
    color: black;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
  }

  .textContainer,
  .formContainer {
    padding: 0;
  }
}